body {
  font-family: 'Roboto', sans-serif;
}

.nav{
    background-color: #333333;
    color: white;
    height: 80px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

.nav-links{
  width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

.nav-title{
    margin: 20px;     
}

.btn {
  height: 35px;
  width: 100px;
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  font-size: 16px;
  box-shadow: 1px 2px 0px 5px #000000;
}