<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>


    <title>PlayGround</title>
</head>

<body style="display:flex; flex-wrap:wrap; justify-content:center">
    {% for i in range (0,num) %}
    <div style="height: 100px; width: 100px; margin: 15px; margin-top: 100px; border:solid black 1px ;background-color:{{color}}"></div>
    {% endfor %}
    <script src='script.js'></script>
</body>

</html>

